body{
  font-family: 'Open Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

*{
box-sizing: border-box;
margin:0;
padding:0;
}

.clearfix::after{
  content:'';
  display: table;
  clear:both;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width:100%;
  background-color:white;
  z-index: 999;
}

.list-none{
  list-style: none;
}

.menu-left, .menu-right, header ul li{
  display: inline-block;
  font-size: 2vh;
  line-height: 48px;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 1380px) {
  .menu-right {
    display: none;
  }
}

.logo{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right:80px;
}

header ul li{
  margin-right: 50px;
  color: white;
}

header ul li a{
  color: black;
}

.menu-right{
  float:right;
}

.button-blue{
  padding:10px 30px;
  background-color: #0061FF;
  font-size: 1.5vh;
  color: white;
  text-align: center;
}

.button-blue:hover{
  background-color:dodgerblue;
}

.menu-left ul li:hover{
  border-bottom: 2px solid black;
}

.menu-right ul li:not(.non-border):hover{
  border-bottom: 2px solid black;
}




/* PROVA TENDINA */

/* .menu-right ul li {display: inline-block;} */
/* .menu-right ul li:hover {background:white;} */
.menu-right ul li:hover ul {display: block;}
.menu-right ul li ul {
  position: absolute;
  width: 10%;
  display: none;
}
.menu-right ul li ul li { 
  background:white; 
  display: block; 
}
.menu-right ul li ul li a {display:block !important;} 
.menu-right ul li ul li:hover {background:snow;}
/* FINE PROVA TENDINA */


.jumbotron{
  background-color:#B4D0E7;
  /* height: 85vh; */
}

.container-home{
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.dec-none{
  text-decoration: none;
}

.text-container-home{
  width: 40%;
  float: left;
}

.img-container-home{
  width: 60%;
  position: absolute;
  right:0;
  bottom:-10%;
}

h1{
  font-size: 4vw;
  padding: 10% 10% 5% 0;
}

.text-container-home h6{
  font-size: 2vh;
  padding-bottom: 50px;
  font-weight: 600;
}

.text-container-home p{
  font-size: 1.8vh;
  padding-top: 40px;
  font-weight: 600;
}

.text-container-home .fas.fa-arrow-down{
  padding: 40px 0;
  font-size: 3vh;
  color: black;
}

.img-container-home img{
  width: 100%;
}

.width-fifty{
  width:50%;
}

.container-prices{
  margin: 0 auto;
  margin-top: 144px;
}

.container-title-prices h2{
  font-size: 3.5vh;
  padding-bottom: 20px;
}

form .fattur-annuale{
  margin-left: 12px;
}

.container-column-prices{
  width: 100%;
  padding-top: 20px;
  margin-bottom:50px;
}

.column-center{
  margin-left: 30px;
  margin-right: 30px;
}

.column-prices{
  width: calc(100% / 3 - 20px);
  border: 1px solid lightgray;
  float:left;
  font-size: 12px;
}

.title-column{
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.container-column-prices ul li{ 
  padding-bottom: 13px;
}

.wid-eighty{
  width: 80%;
  margin: 20px auto;
}

.text-with-border span{
  margin: 20px 0 20px 15px;
  padding-top: 20px;
  padding-bottom:20px;
  border-bottom: 1px solid lightgrey; 
}

.text-with-border a{
  color:#0061FF;
}

.text-with-border{
 margin-bottom:30px;
}

.bottom-list li::before {
  content:'\2713    ';
  color:#0061FF;
  font-weight: bold;
}

.transparent{
  opacity: 0;
}

.bold{
  font-weight: bold;
}

label{
  font-size: 14px;
}

.icon-container{
  width:7%;
  float:left;
}

.text-container-top-list{
  width:93%;
  float:left;
}

.top-list, .bottom-list{
  padding: 15px;
}

.top-list div{
  padding: 10px 0;
}

.title-top-list{
  font-size: 20px;
}

.text-color-gray{
  color:lightgray;
}

.bottom-list .bold::before{
  content:'';
}

.container-foto-guys{
  margin: 0 auto;
  margin-top:80px;
}

.enterprise-content{
  border:1px solid lightgray;
}

.title-enterprise-content{
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.enterprise-content i{
  padding:10px;
}

.enterprise-text{
  width:70%;
  float:left;
}

.button-ufficio-vendite{
  width: 30%;
  float:left;
}

.enterprise-text, .button-ufficio-vendite{
 padding: 20px;
}

.enterprise-text h4{
  margin: 20px 0 45px 0;
}

.enterprise-text p{
  font-size: 11.5px;
}

.foto-guys{
  width: 55%;
  float: left;
}

.foto-guys img{
  width: 100%;
}

.trova-partner-text{
  padding: 50px 0px 50px 40px;
  font-size: 1.8vh;
  width: 45%;
  float:left;
}

.trova-partner-text p{
  margin: 25px 0;
}

.trova-partner-text a{
  color:black;
}

.operations{
  margin: 0 auto;
  margin-top: 50px;
}

.column-operations{
  width: calc(100% / 3);
  padding: 0 10px 0 10px;
  float:left;
}

.img-operations{
  width: 100%;
}

.text-operations{
  font-size: 15px;
}

.img-operations img{
  width: 100%;
}

.text-operations h3{
  margin-bottom: 20px;
}

.five-hundred-thousand{
  margin: 0 auto;
  margin-top: 100px;
}

.five-hundred-thousand h2{
  padding-bottom: 20px;
}

.five-hundred-thousand a{
  font-size: 13px;
  color: #0061FF;
}

.container-squares-global{
  margin-top: 40px;
  width: 100%;
  /* height: 500px; */
}

.container-squares{
  width: 30%;
  float: left;
  max-height: 500px;
}

.square-center{
  width: 40%;
  padding: 50px;
  float:left;
  overflow:auto;
}

/* soluzione non responsive */
/* .single-square{
  width: 50%;
  height: 50%;
  float:left;
  text-align: center; 
  padding: 15% 5% 5% 5%;
} */

/* soluzione responsive ma non benissimo */
.single-square{
  position: relative;
  width: 13vw;
  height: 13vw;
  float:left;
  border:14px solid transparent;
}

.single-square:active{
  border:14px solid rgba(255, 255, 255, 0.4);
}

.right-square{
  float:right;
}

.single-square img{
  position: absolute;
  width: 70%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}

.green{
  background-color:#A2D39B; 
}

.darkred{
  background-color:#61082C; 
}

.cyan{
  background-color:#1D93CE; 
}

.red{
  background-color:#F91C1D; 
}

.lightblue{
  background-color:#B4D0E7; 
}

.blue{
  background-color:#0D2481; 
}

.yellow{
  background-color:#FED830; 
}

.container-squares h2{
  font-size: 50px;
  font-family: 'Space Grotesk', sans-serif;
}

.container-squares p{
  font-size: 13px;
  margin-bottom: 30px;
}

.container-squares h2 sup{
  font-size: 18px;
  margin-left:-10px;
}

.border-line{
  width:10%;
  height: 30px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}

.pre-faq-container{
  background-color:#B4D0E7;
}

.pre-faq-container-center{
  margin: 0 auto;
  padding: 100px 0;
}

.pre-faq-text, .pre-faq-button{
  float: left;
}

.pre-faq-text span{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-size: 3.5vh;
  color: #61082C;
}

.button-white{
  background-color: white;
  font-size: 12px;
  padding: 10px 30px;
  color: black;
  border: none;
  float:right;
}

.button-partner{
  padding: 10px;
  border: 1px solid black;
}

.button-white:hover, .button-partner:hover{
  background-color:snow;
}

.container-faq ul #first-question:hover #drop-down-text{
  display: block;
}

.container-faq{
  margin: 0 auto;
}

#drop-down-text{
  margin-top: 40px;
  display: none;
}

.container-faq ul li{
  border-top: 1px solid lightgray;
  padding: 30px 0;
  font-size: 1.8vh;
}

#list-title-faq{
  font-size: 3vh;
}

.container-faq ul p{
  font-size:14px;
  font-weight: normal;
  color:#808E99;
}

footer{
  margin-top: 50px;
  padding-left: 100px;
  width: 100%;
  background-color: black;
}

footer table{
  width: 80%;
  margin: 0 auto;
  color:white;
  padding: 100px;
}

footer table tr td{
  padding-bottom: 15px;
}

table tr td a{
  color: white;
  font-size: 13px;
}

.container-faq ul li{
  position: relative;
}

.container-faq ul li a{
  position: absolute;
  right:0;
}

